.cart_table{
    width: 100%;
    text-align: left;
    border-collapse: collapse ;
}
.cart_table_head{
    padding: 20px;
    border-bottom: solid 1px #dcdcdc;
    font-size:  17px; 
    font-weight: 600;
}
.cart_table td{
  font-size: 17px;
  padding: 20px ;
  font-weight: 400px;
}
.cart_table_img{
    width: 100px;
    height: 100px;
}