*{
      font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: bisque;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.singup_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
    width: 600px;
    height: min-content;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
}
.singup_form h1{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.singup_form h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 10px;
}
.singup_input{
    margin-bottom: 20px;
    width: 60%;
    font-size: 14px;

}
.singup_input label{
    display: block;
    margin-bottom: 5px;

}
.singup_input{
    height: 34px;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
}
.singup_btn{
    width: 80%;
    padding: 14px;
    font: 14px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom:10px;
    font-size: 20px;
    font-family: cursive;
     animation-name: singup_btn,move;
         animation-duration: 5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes singup_btn{
0%{
    background-color:red;
    height: 100px;
    width: 100px;
}
25%{
        background-color:rosybrown;
    height:200px;
    width: 200px;
}
50%{
        background-color: rgb(153, 191, 15);
    height: 200px;
    width: 200px;
}
100%{
        background-color:rgb(76, 0, 255) ;
    height: 100px;
    width: 75px;
}
}