*{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: beige;
}
.menu{
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
      
}
.menu_item{
    display: inline;
     margin-right: 30px;
     padding: 10px 15px ;
     font-weight: 1000;
     color: #393e39;
}
.banner_img{
    width: 100%;
    height: 500px;
}
#heading1{
    font-size: 50px;
    font-weight: 400px;
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;    

}
.section{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 40px 50px;
   margin-bottom: 50px;
   border: solid 2px gray;
   border-radius: 15px;
   box-shadow: 0 4px 10px 1px #d3d3d3;
}
.section_p{
    font-size: 30px;
    max-width: 90%;
    color: #666666;
    margin-bottom: 20px;
}
.section_img{
    flex: 0.5;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 10px 1px #d3d3d3;
}
.section_div{
    flex: 0.5;
}
.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border:solid 2px #666666;
    border-radius: 15px;
    padding: 20px 40px;
    margin-left: 10px; 
}
.category{
    width: 220px;
    padding: 40px;
    margin-right: 20px  
    
    
}
.category_img{
    width: 220px;
    height: 220px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px  8px black;
}
h2{
    font-size: 50px;
text-align: center;

}
h3{
    font-size: 30px;
    font-family: cursive;
}
.topproduct{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #666666;
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 20px 40px;
    margin:30px 
}
.topproduct-img{
width: 250px;
height: 250px;
margin-bottom: 10px;
border-radius: 10px;
box-shadow: 0 4px 8px gray
}

